---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> Eksempel</title>
	</head>
	<body>
		<h1>Første Eksempel</h1>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis placeat inventore, quis, debitis voluptatum laboriosam ex est suscipit aliquid voluptas illum a similique sint accusamus expedita mollitia libero? Exercitationem, quam!</p>
		 <p>hej hej</p>
	</body>
</html>
